@font-face { font-family: NightinTokyo; src: url('./media/NightinTokyo.ttf'); }
@font-face { font-family: MaShanZheng; src: url('./media/MaShanZheng-Regular.ttf');}
@font-face { font-family: NanumBrushScript; src: url('./media/NanumBrushScript-Regular.ttf');}


body{
  background-color: rgb(43,43,43);
}
p, span, div, button, input, select, option, h4, h5, h6{
font-family: 'NanumBrushScript', cursive;
  text-align: center;
  font-size: 2rem;
  line-height: 0.88;
  margin-block-start: 1%;
  margin-block-end: 1%;
}
h1, h2, h3 {
  font-family: NightinTokyo;
  font-size: 3rem;
  color: lightblue;
  margin-top: 4rem;
  margin-bottom: 1%;
}
h4{
  text-decoration: underline;
}
button, label{
font-family: MaShanZheng, Georgia, 'Times New Roman', Times, serif;
}
h1{
  font-size: 4rem;
  margin: 0.1em;
}
label{
  color: lightblue;
  font-size: 2rem;
}
div{
  text-transform: none;
}
span{
  color: white;
  text-decoration: underline;
}
select{
  width: 250px;
}
.App {
  text-align: center;
  color:white;
}
div.mission{
  max-width: 80vw;
  margin: 0 auto;
}
button{
  text-decoration: none;
  width: 250px;
  height: 50px;
}
input{
  width: 242px;
}
.delete-ninja{
  width: 33px;
  height: 33px;
  background-color: grey;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 12s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.toTitle{
  display: flex;
  flex-wrap: wrap;
  text-transform: capitalize;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  min-width: 40vw;
  margin-top: 0.5rem;
  margin: 0 auto;
}

.ninja{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  max-width: 500px;
  margin: 0 auto;
}
div.ninja{
  align-items: center;
}
div.ninja img{
  max-width: 70px;
  max-height: 70px;
}
div.addspace{
  margin-bottom: 220px;
}
div.minspace{
  margin-bottom: 120px;
}
.mission-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
}
a {
  text-decoration: none;
  color: black;
}
#mission{
  height: 1px;
}
.hideInfo{
  display: none;
}
.showInfo{
  display: contents;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
